= semantic_form_for @<%= singular_name %>, :url => @<%= singular_name %>.new_record? ? collection_path : resource_path do |f|
  = render :partial => 'shared/form_errors', :locals => {:form_object => @<%= singular_name %>}
  = f.inputs do
<% @title_attributes.each do |attribute| -%>
    = f.input :<%= attribute.name %>, :input_html => {:class => 'title'}
<% end -%>
<% attributes.each do |attribute| -%>
    = f.input :<%= attribute.name %>
<% end -%>

  = f.buttons do
    = f.commit_button :button_html => {:class => 'primary'}
    - unless @<%= singular_name %>.new_record?
      = link_to 'Destroy', resource_path, :class => 'btn danger', :confirm => 'Are you sure?', :method => :delete
